/*右下角圖片*/
.rb{
    position: fixed;
    z-index: 1;
    right: 0px;
    bottom: 0px;
    width: 100px;
    height: 100px;
    transition: 0.5s;
}

.rb:hover{
    width: 150px;
    height: 150px;
}


/*役種圖片跳出*/

.left .mask-image{
    display: none;
    position: absolute;
}


.left .type1 .mask:hover .mask-image{
    display: block;
    left: 23px;
    bottom: 72px;
}

.left .type2 .mask:hover .mask-image,.type3 .mask:hover .mask-image,.type4 .mask:hover .mask-image,.type5 .mask:hover .mask-image{
    display: block;
    left: 23px;
    top: 0px;
}

/*導覽列*/
nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: royalblue;
    
}
nav li{
    float: left;
}
nav li a, .dropbtn{
    display: inline-block;
    color: lightskyblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover, .dropdown:hover .dropbtn{
    background-color: navy;
}
nav li.dropdown{
    display: inline-block;
}
nav .dropdown-content{
    display: none;
    position: absolute;
    background-color: oldlace;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
nav .dropdown-content a{
    color: black;
    padding: 6px 9px;
    text-decoration: none;
    display: block;
    text-align: left;
}
nav .dropdown-content a:hover{
    background-color: wheat;
}
nav .dropdown:hover .dropdown-content{
    display: block;
}


/*背景*/
body{
    background-color: cornsilk;
}


/*wrapper*/
.wrapper{
    padding: 41.5px 0px 0px 0px;
}

.left{
    width: 45%;
    height: 100%;
    left: 0%;
    position: fixed;
    background-color: seashell;
    border-right: black 3px dashed;
}

.left h3{
    text-align: center;
    padding: 5px;
    margin: 0%;
}

.left-below{
    height: 567px;
    width: 648px;
    background-color: darkolivegreen;
    border: mediumseagreen 18px solid;
}

.left .type li{
    display: inline-block;
    border-radius: 10px;
    margin: 3px 10px 6px 10px;
    font-size: 24px;
    height: 45px;
    font-weight: bold;
    background-color: darkgray;
}

.left .type1{
    color: dimgray;
}

.left .type2{
    color: mediumblue;
}

.left .type3{
    color: purple;
}

.left .type4{
    color: gold;
}

.left .type5{
    color: brown;
}

.right{
    width: 55%;
    position: relative;
    left: 680px;
}

.right-top{
    background-color: palegoldenrod;
}

.right .title, .subtitle{
    text-align: center;
    padding: 5px;
    margin: 0%;
    font-weight: bold;
}

.right .title{
    font-size: 80px;
}

.right .subtitle{
    font-size: 25px;
    white-space: pre-line;
}

.right hr{
    border:none;
    margin: 0%;
    border-top:3px dashed rebeccapurple;
}

.right .introduction{
    text-align: center;
    font-size: 35px;
    margin: -10px 0px 10px 0px;
    white-space: pre-line;
}

.right .statement{
    text-align: center;
    font-size: 27px;
    margin: -10px 0px 10px 0px;
    white-space: pre-line;
}

.right img{
    display: block;
    margin: auto;
    width: 600px;
    transition: 0.5s;
}

.right img:hover{
    width: 610px;
}

.right .right-bottom{
    background-color: darkgray;
    float: right;
    width: 828px;
}

/*輪放圖片*/
.image-container ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.image-container {
    width: 600px;
    margin: 0 auto;
    border: 5px solid gray;
    overflow: hidden;
}


@keyframes move_slide1 {
    0%,
    16%{transform: translateX(0px);}
    18%,
    32%{transform: translateX(-600px);}
    34%,
    48%{transform: translateX(-1200px);}
    50%,
    64%{transform: translateX(-1800px);}
    66%,
    80%{transform: translateX(-2400px);}
    82%,
    96%{transform: translateX(-3000px);}
}

@keyframes move_slide2 {
    0%,
    8%{transform: translateX(0px);}
    10%,
    18%{transform: translateX(-600px);}
    20%,
    28%{transform: translateX(-1200px);}
    30%,
    38%{transform: translateX(-1800px);}
    40%,
    48%{transform: translateX(-2400px);}
    50%,
    58%{transform: translateX(-3000px);}
    60%,
    68%{transform: translateX(-3600px);}
    70%,
    78%{transform: translateX(-4200px);}
    80%,
    88%{transform: translateX(-4800px);}
    90%,
    98%{transform: translateX(-5400px);}
}

@keyframes move_slide5 {
    0%,
    11%{transform: translateX(0px);}
    12.5%,
    23.5%{transform: translateX(-600px);}
    25%,
    36%{transform: translateX(-1200px);}
    37.5%,
    48.5%{transform: translateX(-1800px);}
    50%,
    61%{transform: translateX(-2400px);}
    62.5%,
    73.5%{transform: translateX(-3000px);}
    75%,
    86%{transform: translateX(-3600px);}
    87.5%,
    98.5%{transform: translateX(-4200px);}
}

.slide1, .slide3, .slide4{
    width: 500%;
    display: flex;
    animation: move_slide1 23.5s infinite;
}

.slide2, .slide6{
    width: 500%;
    display: flex;
    animation: move_slide2 39.5s infinite;
}

.slide5{
    width: 500%;
    display: flex;
    animation: move_slide5 31.5s infinite;
}